
body {
    font-family: Cambria, Georgia, "Book Antiqua", serif;
    font-size: 16px; /* Relative keyword */
    color: blue; /* Changed text color */
}


h1 {
    color: orange; /* Change color of h1 */
    background-color: lightyellow; /* Light background for headings */
    width: fit-content; /* Limit background to text width */
}

strong {
    background-color: lightgray; /* Background color for strong */
    font-style: italic; /* Italicize strong */
    font-weight: bold; /* Increase font weight */
}


a {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: green;
}
